name: Build and Share AMI

on:
  pull_request:
    types: [ closed ]
    branches: [ main ]

jobs:
  build-ami:
    if: github.event.pull_request.merged == true || github.repository == 'cyse7125-su25-team03/ami-jenkins'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS CLI
        uses: aws-actions/configure-aws-credentials@v3
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Initialize Packer
        run: packer init .

      - name: Build AMI with Packer
        run: |
          packer build \
            .



    